RewriteEngine On

RewriteRule ^home/([^.]+)$ home.php?store=$1 [NC,L]
RewriteRule ^product/([^.]+)/([^.]+)$ product.php?product=$1&store=$2 [NC,L]
RewriteRule ^category/([^.]+)/([^.]+)$ category.php?category=$1&store=$2 [NC,L]
RewriteRule ^order/([^.]+)/([^.]+)$ order.php?order=$1&store=$2 [NC,L]
RewriteRule ^cart/([^.]+) cart.php?store=$1 [NC,L]
RewriteRule ^track/([^.]+) track.php?store=$1 [NC,L]
