RewriteEngine On

RewriteRule ^([^.]+)$ home.php?store=$1 [NC,L]
RewriteRule ^product/([0-9]+)/([^.]+)$ product.php?product=$1&store=$2 [NC,L]
RewriteRule ^category/([0-9]+)/([^.]+)$ category.php?category=$1&store=$2 [NC,L]
RewriteRule ^profile/([0-9]+)/([^.]+)$ profile.php?product=$1&store=$2 [NC,L]
RewriteRule ^order/([0-9]+)/([^.]+)$ order.php?order=$1&store=$2 [NC,L]
