.tr-animate{
    transition: all 0.2s ease-in;
}

.dropdown-menu {
    width: 230px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

    