.c-bg-primary{
    background-color: #070F2B !important;
}
.c-bg-secondary{
    background-color: #1B1A55 !important;
}
.c-bg-third{
    background-color: #535C91;
}
.c-bg-forth{
    background-color: #9290C3;
}
.bg-transparent{
    background-color: #9290c3;
}
.c-text-primary{
    color: #070F2B;
}
.c-text-secondary{
    color: #1B1A55;
}
.c-text-third{
    color: #535C91;
}
.c-text-forth{
    color: #9290C3;
}

.c-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
   }
   
   .c-btn-primary {
    color: #fff;
    background-color: #070F2B;
    border-color: #070F2B;
   }
   
   .c-btn-primary:hover {
    color: #fff;
    background-color: #070F2B;
    border-color: #0062cc;
   }
   
   .c-btn-primary:focus, .c-btn-primary.focus {
    color: #fff;
    background-color: #070F2B;
    border-color: #070F2B;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
   }
   
   .c-btn-primary.disabled, .c-btn-primary:disabled {
    color: #fff;
    background-color: #070F2B;
    border-color: #070F2B;
   }
   .tr-animate{
    transition: all 0.2s ease-in;
}

.dropdown-menu {
    width: 230px;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .form-control {
    width: 100%;
    margin-bottom: 10px;
  }

  .ft-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ft-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ft-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .img-fit {
    aspect-ratio: 1;
    max-width: 100%;
    height: auto;
    object-fit: contain;
   }